// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(345.18, 99.96%, 93.2%),
    200: hsl(334.81, 99.99%, 61.6%),
    300: hsl(328.92, 99.98%, 42.97%),
    400: hsl(330.17, 99.93%, 25.07%),
    500: hsl(332.18, 99.94%, 14.98%),
  ),
  secondary: (
    100: hsl(240.84, 99.96%, 93.36%),
    200: hsl(230.37, 99.99%, 69.86%),
    300: hsl(216.87, 99.99%, 49.48%),
    400: hsl(218.47, 99.95%, 27.11%),
    500: hsl(221.61, 99.97%, 14.38%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
